[bumpversion]
current_version = 0.0.12
commit = True
tag = True

[bumpversion:file:repo_helper.yml]

[bumpversion:file:README.rst]

[bumpversion:file:dotnet_stub_builder/__init__.py]

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:setup.cfg]
search = version = {current_version}
replace = version = {new_version}
